@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Thin.eot");
  src: url("../fonts/SFUIDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Thin.woff2") format("woff2"), url("../fonts/SFUIDisplay-Thin.woff") format("woff"), url("../fonts/SFUIDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Bold.eot");
  src: url("../fonts/SFUIDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff"), url("../fonts/SFUIDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFUIDisplay-Heavy.woff") format("woff"), url("../fonts/SFUIDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Semibold.eot");
  src: url("../fonts/SFUIDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Semibold.woff") format("woff"), url("../fonts/SFUIDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Medium.eot");
  src: url("../fonts/SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"), url("../fonts/SFUIDisplay-Medium.woff") format("woff"), url("../fonts/SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "SF UI Display";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1780px;
  height: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  background-color: #1B1B1B;
  position: fixed;
  width: 100%;
  z-index: 5;
  display: block;
  overflow: hidden;
}
.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-row__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-row__navigation .navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
}
.header-row__navigation .navigation-menu__item {
  display: block;
  margin-left: 60px;
}
.header-row__navigation .navigation-menu__item .item-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.header-row__navigation .navigation-menu__item .item-link:hover {
  color: #00abed;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.header-row__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-row__social .social-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 170px;
}
.header-row__social .social-phone__icon {
  margin-right: 15px;
}
.header-row__social .social-phone__text .phone-number {
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.header-row__social .social-phone__text .phone-number:hover {
  color: #00abed;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.header-row__social .social-phone__text .phone-text {
  color: #AFAFAF;
  font-weight: 100;
  font-size: 14px;
  line-height: 14px;
  margin-top: 8px;
  margin-bottom: 0;
}
.header-row__social .social-phone__text .phone-text span {
  font-weight: 600;
}
.header-row__social .social-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 120px;
}
.header-row__social .social-language__item {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  line-height: 15px;
  text-transform: uppercase;
  margin-right: 10px;
}
.header-row__social .social-language img {
  width: 8px;
  height: 3px;
}
.header-row__social .social-networks {
  margin-left: 56px;
}
.header-row__social .social-networks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
.header-row__social .social-networks ul li {
  width: 48px;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ffffff;
  -webkit-transition: 1.2s;
  -o-transition: 1.2s;
  transition: 1.2s;
  display: block;
}
.header-row__social .social-networks ul li:hover {
  background-color: none;
  -webkit-box-shadow: inset 5em 0 0 0 #00abed;
          box-shadow: inset 5em 0 0 0 #00abed;
}
.header-row__social .social-networks ul li:focus {
  -webkit-box-shadow: inset 5em 0 0 0 #00abed;
          box-shadow: inset 5em 0 0 0 #00abed;
}
.header-row__social .social-networks ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-row__menu {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: none;
}
.header .header-row__menu span {
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #00abed;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 1px;
}
.header .header-row__menu span:nth-of-type(2) {
  top: calc(50% - 8px);
}
.header .header-row__menu span:nth-of-type(3) {
  top: calc(50% + 8px);
}
.header .active_menu {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  height: 100%;
}
.header .active span:nth-of-type(1) {
  display: none;
}
.header .active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -ms-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}
.header .active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
      -ms-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

.banner .banner-top {
  background-color: #1B1B1B;
  height: 100vh;
}
.banner-row__brand {
  padding-top: 192px;
}
.banner-row__brand svg {
  width: 100%;
}
.banner-row__brand svg .text--line {
  font-size: 130px;
  font-family: "SF UI Display";
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 140px;
}
.banner-row__brand svg #outline {
  fill: none;
  stroke: #ffffff;
  stroke-dasharray: 100%;
  stroke-dashoffset: 0;
  -webkit-animation-name: outline;
          animation-name: outline;
  -webkit-animation-duration: 2.1s;
          animation-duration: 2.1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.banner-row__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 20px;
  position: relative;
}
.banner-row__title .title-header {
  position: absolute;
  margin: 0;
  color: #ffffff;
  font-weight: 800;
  font-size: 76px;
  letter-spacing: 0.02em;
  line-height: 90px;
  text-transform: uppercase;
}
.banner-row__image {
  margin-top: 120px;
  background-image: url("../img/banner.png");
  height: 780px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-row__image:before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  display: block;
  height: 100%;
}
.banner-button {
  position: absolute;
  bottom: 30px;
  left: 32px;
}
.banner-button a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  color: #ffffff;
}
.banner-button a span {
  content: "";
  background-color: #ffffff;
  display: block;
  width: 2px;
  height: 12px;
  margin-top: 0;
  margin-bottom: 2px;
}
.banner-button a:hover span {
  height: 18px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.banner-button a img {
  width: 16px;
  height: 8px;
}

@-webkit-keyframes outline {
  from {
    stroke-dashoffset: 100%;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes outline {
  from {
    stroke-dashoffset: 100%;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.services {
  overflow: hidden;
  position: static;
  margin-top: 260px;
  padding-top: 104px;
}
.services-container {
  max-width: 1368px;
  height: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.services-container .services-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services-container .services-row .services-block {
  min-width: 640px;
  position: relative;
  height: 540px;
  overflow: hidden;
  margin-bottom: 48px;
  background-color: #019EDB;
  border: 5px solid #ffffff;
}
.services-container .services-row .services-block:nth-child(odd) {
  margin-right: 48px;
}
.services-container .services-row .services-block:before {
  content: "";
  display: block;
  position: absolute;
  right: 150px;
  bottom: 50px;
  background: url("https://ribbon.ua/wp-content/themes/ribbon/img/decor.svg") no-repeat 0 0/contain;
  width: 750px;
  height: 756px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.services-container .services-row .services-block:hover:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.services-container .services-row .services-block__description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.services-container .services-row .services-block__description .services-block__title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 34px;
  margin-bottom: 21px;
  padding-left: 40px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 22px;
}
.services-container .services-row .services-block__description .services-block__link {
  padding-left: 40px;
}
.services-container .services-row .services-block__description .services-block__link .service-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services-container .services-row .services-block__description .services-block__link .service-link span {
  content: "";
  display: block;
  height: 2px;
  width: 12px;
  margin-left: 30px;
  background-color: #ffffff;
}
.services-container .services-row .services-block__description .services-block__link .service-link img {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.services-container .services-row .services-block__description .services-block__link .service-link:hover span {
  width: 18px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.services-container .services-row .services-block__description .services-block__image {
  position: relative;
  padding-top: 75%;
}
.services-container .services-row .services-block__description .services-block__image img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
}

.button-phone {
  background: #00abed;
  position: fixed;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  right: 45px;
  bottom: 45px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 rgba(0, 171, 237, 0.4);
          box-shadow: 0 0 0 rgba(0, 171, 237, 0.4);
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}
.button-phone__block {
  height: 100%;
}
.button-phone__block a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button-phone__block a img {
  width: 32px;
  height: 32px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 171, 237, 0.4);
            box-shadow: 0 0 0 0 rgba(0, 171, 237, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 12px rgba(0, 171, 237, 0);
            box-shadow: 0 0 0 12px rgba(0, 171, 237, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 171, 237, 0);
            box-shadow: 0 0 0 0 rgba(0, 171, 237, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 171, 237, 0.4);
            box-shadow: 0 0 0 0 rgba(0, 171, 237, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 12px rgba(0, 171, 237, 0);
            box-shadow: 0 0 0 12px rgba(0, 171, 237, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 171, 237, 0);
            box-shadow: 0 0 0 0 rgba(0, 171, 237, 0);
  }
}